@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: 'Hiragino Maru Gothic ProN W4','ヒラギノ丸ゴ ProN W4';
}
/* 背景指定 */
html,body{
	height: 100%;/* 高さを100%にして描画エリアをとる */
}

#particles-js{ 
	position:fixed;/*描画固定*/
	z-index:-1;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	background-color:#5891ba;/*背景色*/
}

#wrapper{
	position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
	z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
	width:100%;
	height: 100%;
}

/* header */
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.header_left {
    margin-left: 20px;
    width: 15%;
}
.header_left img {
    width: 100%;
}
.header_right {
    width: 35%;
    padding: 0 20px;
}
.header_right ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 80px;
}
.header_right li {
    margin: 0;
    padding: 10px;
    display: table-cell;
    border-radius: 15px;
    transition: .3s;
    color: #fff;
    font-weight: 700;
}
.header_right li:hover {
    transform: translate3d(0, 5px, 0);
    box-shadow: none;
    background: #fff;
}
.header_right a {
    text-decoration: none;
    color: #fff;
}
.header_right a:hover {
    color: #000;
}
.orange {
    background-color: #ff7321;
    box-shadow: 0px 5px 0 #b03300;
}
.green {
    background-color: #00ada3;
    box-shadow: 0px 5px 0 #006d68;
}
.pink {
    background-color: #ff528c;
    box-shadow: 0px 5px 0 #a72b44;
}
.blue {
    background-color: #00a8ff;
    box-shadow: 0px 5px 0 #00669e;
}
.yellow {
    background-color: #ffb900;
    box-shadow: 0px 5px 0 #aa5b00;
}
/* header end */

/* 島主紹介 */
#profile {
    margin: 0 10%;
}
#profile p {
    margin: 15px auto;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
#profile span {
    color: #ff7321;
    font-size: 24px;
    text-shadow:#fff 1px 0 0,#fff 0 1px 0,#fff -1px 0 0,#fff 0 -1px 0;
}
#profile h1{
    padding-top: 10%;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Wawati SC';
    text-align: center;
    text-shadow:#777 -1px -1px 1px,#333 1px 2px 2px;
}
.explanation {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 20px;
}
.profile_image {
    width: 30%;
}
.explanation img {
    width: 100%;
}
.explanation dl {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    color: #222;
    font-size: 24px;
}
.explanation dt {
    width: 45%;
    border-bottom: 2px solid #888; 
}
.explanation dd {
    width: 55%;
    padding: 5px 0;
    border-bottom: 2px solid #888; 
}
/* 島主紹介 end */

/* タイトル */
#title h1{
    margin-top: 10%;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Wawati SC';
    text-align: center;
    text-shadow:#777 -1px -1px 1px,#333 1px 2px 2px;
}
/* 島マップ */
#island {
    margin: 0 5%;
    display: flex;
    justify-content: space-around;
}
h3 {
    text-align: center;
    color: #fff;
    width: 100%;
}
.map {
    margin: 10px;
    width: 50%;
    position: relative;
}
.map p {
    position: absolute;
    color: #000;
    background-color: #fff;
    font-size: 20px;
    padding: 0 8px;
    border-radius: 50px;
}
.map p:hover {
    color: #fff;
    cursor: pointer;
    background-color: #ff7321;
    transition: .3s;
}
.map p:nth-of-type(1){
    top: 10%;
    left: 57%;
}
.map p:nth-of-type(2){
    top: 18%;
    left: 47%;
}
.map p:nth-of-type(3){
    top: 21%;
    left: 52%;
}
.map p:nth-of-type(4){
    top: 26%;
    left: 44%;
}
.map p:nth-of-type(5){
    top: 30%;
    left: 67%;
}
.map p:nth-of-type(6){
    top: 35%;
    left: 40%;
}
.map p:nth-of-type(7){
    top: 42%;
    left: 30%;
}
.map p:nth-of-type(8){
    top: 54%;
    left: 39%;
}
.map p:nth-of-type(9){
    top: 60%;
    left: 30%;
}
.map p:nth-of-type(10){
    top: 65%;
    left: 54%;
    letter-spacing: -2px;
    padding: 0 5px;
}
.map p:nth-of-type(11){
    top: 69%;
    left: 59%;
    letter-spacing: -2px;
    padding: 0 5px;
}
.map img {
    width: 100%;
}
.map_image {
    width: 50%;
    margin: 10px;
    background-image: url(img/main.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
.map_image p {
    text-align: center;
    width: 220px;
    height: auto;
    color: #fff;
    font-size: 24px;
    margin-top: 25%;
    margin-left: 35%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 40px 80px;
}

/* 住民一覧 */
#animal_list {
    margin: 0 5%;
}
#animal_list h1 {
    margin-top: 10%;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Wawati SC';
    text-align: center;
    text-shadow:#777 -1px -1px 1px,#333 1px 2px 2px;
}
#animal_list ul {
    display: flex;
    margin: 30px auto;
}
#animal_list li {
    list-style: none;
    margin: 0 10px;
    padding: 30px;
    width: 20%;
    background-color: #fff;
    border-radius: 30px;
}
#animal_list li img {
    width: 100%;
}
#animal_list dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #222;
}
#animal_list dt {
    width: 45%;
}
#animal_list dd {
    width: 55%;
}
#animal_list dt:nth-of-type(odd), #animal_list dd:nth-of-type(odd){
background: #ddd;
}
/* 住民一覧 end */

/* ギャラリー */
#gallery {
    margin: 0 5%;
}
#gallery h1{
    margin-top: 10%;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Wawati SC';
    text-align: center;
    text-shadow:#777 -1px -1px 1px,#333 1px 2px 2px;
}
.gallery{
    columns: 4;/*段組みの数*/
    padding:0 15px;/*ギャラリー左右に余白をつける*/
    margin:0;
}

.gallery li {
    margin-bottom: 20px;/*各画像下に余白をつける*/
    list-style:none;
    background-color: #000;
}

/*ギャラリー内のイメージは横幅100%にする*/
.gallery img{
	width:100%;
	height:auto;
    cursor: pointer;
	vertical-align: bottom;/*画像の下にできる余白を削除*/}
.gallery li:hover img{
    opacity: 0.6;
    transition-duration: 0.3s;
}
/* 過去の島の動画 */
#movie {
    margin: 0 20%;
}
#movie h1{
    margin-top: 10%;
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    font-family: 'Wawati SC';
    text-align: center;
    text-shadow:#777 -1px -1px 1px,#333 1px 2px 2px;
}
#movie p{
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
}
#movie span{
    color: #ffb900;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}
#movie img{
    margin: 30px auto;
    width: 100%;
    background-color: #000;
}
#movie img:hover{
    opacity: 0.6;
    transition-duration: 0.3s;
}
/* footer */
footer {
    position: relative;
    height: 150px;
    background-image: url(img/snow_back.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
footer p{
    position: absolute;
    bottom: 20%;
    right: 5%;
    color: #777;
    font-size: 18px;
}